[2015-08-16 12:45] lijunle opened #2 "Vsxmd is polluting user project output folder"
While using `nuget pack Vsxmd.csproj` to generate package, it will pack the `Vsxmd.exe` to `lib` folder. This will make the user project add `Vsxmd.exe` as a reference, and copy it to output folder when build the project.

It seems there is not a way to resolve this. Any ideas?

[2015-08-19 15:49] #2 closed

[2015-09-29 10:30] aguarino77 opened #18 "Crash"
Crash with the following XML

[code]

[2015-09-29 11:43] lijunle commented on #18
It is caused by `°` character in line 87

[code]

And stack trace:

[code]

Thrown from [this line](https://github.com/lijunle/Vsxmd/blob/master/Vsxmd/Program.cs#L50).

[2015-09-29 11:54] lijunle commented on #18
Sorry, it seems the previous exception is caused by my file encoding. That is not the case.

---

The real exception stack error is:

[code]

Do a rough check, it is caused by the `<param name="curve"></param>` not having a description. The exception is thrown from [Extensions.ToMarkdownText](https://github.com/lijunle/Vsxmd/blob/b7565e8f198b38dfa94f05dec2b48da86d1bd32c/Vsxmd/Units/Extensions.cs#L

[2015-09-29 12:25] #18 closed

[2015-09-29 12:29] lijunle commented on #18
@aguarino77

I released [v1.0.1](https://www.nuget.org/packages/Vsxmd/1.0.1) to fix this. Please check it.

Thanks for reporting bugs.

[2015-09-29 13:19] aguarino77 commented on #18
This worked perfectly. Thank you.

[2015-09-29 13:22] aguarino77 opened #20 "Back-to-content fails in GIT-flavored markdown"
Hi, this is just to mention that `[^](...)` will fail to render in GIT-flavoured markdown, because it will be interpreted as an mathematical sign. (see attachemnt).
It's not a serious problem, anyhow.
![screen shot 2015-09-29 at 15 21 28](https://cloud.githubusercontent.com/assets/7809076/10165135/d3759408-66bd-11e5-905b-8a653f3c07bb.png)

My current fix  is to find-replace with [<].

[2015-09-29 13:31] lijunle commented on #20
Hi, are you using Github? Which application are you using?

[2015-09-29 13:33] aguarino77 commented on #20
We have the repositories on an internal gitlab (it’s a git on premise), you can see it at gitlab.com <http://gitlab.com/>.
Special MD features are explained at GitLab Flavored Markdown <https://www.google.ch/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&cad=rja&uact=8&ved=0CCgQFjABahUKEwj2t97PrZzIAhVGOhQKHeytDQk&url=https://gitlab.com/gitlab-org/gitlab-ce/blob/6-4-stable/doc/markdown/markdown.md&usg=AF

[2015-09-29 13:49] lijunle commented on #20
I created a public [snippet](https://gitlab.com/snippets/8990) on GitLab.

I am sorry to say that, GitLab has it own anchor location parsing engine, which is not compatible with the standard one. Click on the anchors generated by Vsxmd will break the URL. :cry:

Are you using the anchor navigation feature provided by Vsxmd. I am thinking about adding a switch to opt-out the anchor navigation gener

[2015-09-29 14:26] aguarino77 commented on #20
Anchor navigation is really a cool feature. I think that optionally modifying to [<] instead of [#] will work. It’s less pretty, but working.

[2015-09-29 15:42] lijunle commented on #20
OK, I am actually talking about another issue.

I understand that, each git hosting website has its own flavor Markdown syntax. That is a trivial change to make `^` to other characters.

But, another problem is, I have not tested the features on GitLab. So, I am doing feature testing on GitLab, and find a bigger problem - the anchors are not handled correctly in GitLab. If you click on a method, t

[2015-09-29 16:13] aguarino77 commented on #20
Sorry, I did not notice this. You are right, the links work, the URL is wrong. Let me know if I can help

[2015-09-30 18:23] lijunle commented on #20
Gitlab is [using](https://gitlab.com/gitlab-org/gitlab-ce/blob/master/vendor/assets/javascripts/jquery.history.js) [History.js](https://github.com/browserstate/history.js) for hash history management.

There is two related bugs reporting in History.js:

- https://github.com/browserstate/history.js/issues/124
- https://github.com/browserstate/history.js/issues/198

[2015-09-30 19:08] #20 closed

[2015-09-30 19:13] lijunle commented on #20
@aguarino77

I have released [v1.1.0](https://www.nuget.org/packages/Vsxmd/1.1.0) to resolve these two problems.

- The *back to contents* sign is changed to `=`.
- The `.` sign in href anchor is escaped as `-` to avoid History.js issue.

[2015-10-16 09:04] tompazourek opened #22 "Configuring output file path"
Is it possible to configure the path of the Markdown destination file?

[2015-10-16 11:43] lijunle commented on #22
Hi, @tompazourek How do you use the tool? As a MSBuild task, or a single command line?

[2015-10-16 12:10] tompazourek commented on #22
Hi @lijunle, I used it exactly as described in the [Usage](https://github.com/lijunle/Vsxmd#usage) section in the documentation.

[2015-10-16 12:14] lijunle commented on #22
OK. You can define a project property in your `.csproj` file, named `DocumentationMarkdown` to specify the output path and name.

For example, the follow configuration will output the md file to project root with name `MyMarkdown.md`:

[code]

[2015-10-16 13:02] tompazourek commented on #22
Thanks! :+1:

[2015-10-16 13:05] lijunle commented on #22
You are welcome. :smile:

[2015-10-16 13:05] #22 closed

[2016-01-21 14:20] atifaziz opened #25 "Using <see langword="…" /> crashes due to NullReferenceException"
Using the [undocumented attribute `langword` for `<see>`](https://www.google.com/search?q=xml+doc+see+langword), as in `<see langword="null" />`, crashes with `NullReferenceException`:

[code]

[2016-01-22 15:05] lijunle commented on #25
Let me understand the `<see langword="…" />` tag. I searched in Google, almost all examples only show langword equals `true`, `false` or `null`. Is that all the case? Other possible values?

[2016-01-22 16:07] atifaziz commented on #25
A VB programmer, however, might use `True`, `False` or `Nothing`. I've also see C# examples using `switch`, which would translate to `Select` in VB. I think this was mostly used by the MSDN documentation to provide translation of keywords depending on the language filter being applied. I think it's safe to say that one could just use the value of `langword` verbatim but formatted in back-ticks.

[2016-01-22 17:16] atifaziz opened #30 "Use generic type parameters names in signatures"
Signatures of generic methods are not very readable at the moment, like [<code>TestGenericType``2</code>](https://github.com/lijunle/Vsxmd/blob/50093dd10dc38a80280b6b5fa4fc550cd2f4574b/Vsxmd/Vsxmd.md#nthlast1sourceindex-method--). Would be better to replace ``2 with the generic type parameter names `T1` and `T2`, especially when they can be pulled out of `<typeparam>`.

[2016-01-22 17:26] lijunle commented on #30
Hmm... that is generic hell...

If we are going to extract `T1` and `T2` to ` ``2 ` in the caption, how about their [`<see>` reference](https://github.com/lijunle/Vsxmd/blob/50093dd10dc38a80280b6b5fa4fc550cd2f4574b/Vsxmd/Vsxmd.md#M-Vsxmd-Program-Test-TestGenericRefence)? How about the generic type in [the parameter type](https://github.com/lijunle/Vsxmd/blob/50093dd10dc38a80280b6b5fa4fc550cd2f4574

[2016-01-22 17:27] #25 closed

[2016-01-22 17:32] lijunle commented on #25
@atifaziz I am going to publish a new version with this fix. Do you have any other coming issues except the generic one? :smile:

[2016-01-22 17:45] atifaziz commented on #30
Yes, ideally it would apply to wherever a generic type can appear. The trouble is that while the documentation looks great for simple types & members, it's sub-optimal for code heavy on generics. See the [generated doc](https://gist.github.com/atifaziz/ab6ed0000ee1f33cbea4) for [MoreLINQ](https://www.nuget.org/packages/morelinq/) as an example.

I'm afraid it would come down to something like that

[2016-01-22 17:50] atifaziz commented on #25
@lijunle Nope, that's it for now. Thanks for all your quick responses & publishing a new update! :+1:

[2016-01-22 17:53] lijunle commented on #30
Yes, I agree that the XML information is not enough to build a great document - we need to reflect the DLL. That could be a big project and need more time on it. Do you have any ideas and design it?

BTW, please open the issue about the publish API. I want to keep it open, at least. :)

[2016-01-22 18:06] lijunle commented on #25
@atifaziz [v1.2.0](https://www.nuget.org/packages/Vsxmd/1.2.0) is published, thanks for your reports! :+1:

[2016-01-24 14:12] lijunle opened #31 "The generated docs should only report on the public APIs."
It needs to reflect the generated DLL to get related information.

[2016-01-25 09:50] atifaziz commented on #30
Thanks for [doing this](https://github.com/lijunle/Vsxmd/issues/31).

Yes, I was afraid of that and wasn't sure what's your road map and scope with this project but without it, I feel that Vsxmd is just short of being absolutely the next great thing since sliced bread. :wink:

OK, here go my 2¢ cents…Perhaps this can be done as a pre-processor that's a completely separate tool and which can be man

[2016-01-26 14:19] lijunle commented on #30
Thanks for your kind word.

I love the idea to make a preprocessor to do the reflection and other dirty work. Then, combine two tools to generate the final document. I prefer the enhanced XML doc way (method 1).

Personally, I would like to kick off a F# project for learning. Do you want to join?

[2016-02-07 16:29] atifaziz commented on #30
@lijunle Sorry, got busy. Meanwhile, perhaps a benefit of this delay has been that the [DocFX project has gone open source](https://github.com/dotnet/docfx). I was wondering about two things:

1. How do you see the roadmap and future of Vsxmd with respect to DocFX.
2. Isn't the [DocFX metadata](http://dotnet.github.io/docfx/spec/metadata_format_spec.html) solving the same problem as the preprocess

[2016-02-25 18:29] lijunle commented on #30
@atifaziz Sorry that reply you after a long time. I am quite busy and work on another project on my spare time, not having much time to touch this project's code.

I ever follow the guide of DocFX. It finally build up a website with API documents and tutorial documents. It did a good job that, only expose the public APIs. So, for your second question, the answer could be yes, although I don't know

[2016-02-25 21:12] atifaziz commented on #30
Are you sure? Because that would be a real shame? Perhaps the JSON is just an intermediate file? In any case, I never managed to dig into it as I never got to [build it properly until just now](https://github.com/dotnet/docfx/issues/151#issuecomment-188985849).

I agree that the charm of Vsxmd could be that it's small & simple. DocFX looks big & complex but it would be great to be able to leverage

[2016-03-19 20:43] lijunle commented on #30
Some finds after playing DocFX:

## DocFX.MSBuild

The [doxfx.msbuild](https://www.nuget.org/packages/docfx.msbuild/) package is awesome. It prepare the default configurations and generate the HTML site in one click.

However, its drawback is only supporting the default theme. Besides, the user still need to handle the awful DocFX configuration.

## DocFX Theme

The DocFX [theme](https://github.co

[2016-04-07 16:40] roydukkey opened #32 "Doesn't appear to be working with .Net Core."
Has this been tested with .Net Core (w/ project.json)? Maybe it would be beneficial to provide usage documentation that would allow manually providing an .xml file to the processor.

[2016-04-07 16:42] lijunle commented on #32
Reference this line: https://github.com/lijunle/Vsxmd/blob/master/Vsxmd/targets/Vsxmd.targets#L4

The EXE can be found from the packages folder.

---

I have no idea about how .Net project.json works. Can they consume `.target` build file?

[2016-04-07 16:46] roydukkey commented on #32
No. It doesn't appear to use them. http://stackoverflow.com/questions/34922728/whats-the-equivalent-of-nuget-targets-file-in-net-core

[2016-04-07 16:49] lijunle commented on #32
It needs time to learn their way. Does the manual EXE script unblock you?

[2016-04-07 17:05] roydukkey commented on #32
Yes. I was able to download and compile the exe. It ran with issue. Thanks.

[2016-04-07 17:07] lijunle commented on #32
Aha, you can download the `.nuget` file from [the NuGet page](https://www.nuget.org/packages/Vsxmd/), unzip it and get the EXE out of it. Anyway, good to hear that you are unblocked.

[2017-10-28 13:10] micdah commented on #31
Agree, it is unfortunate to include `internal` classes and members

[2018-03-13 20:54] JuanZamudioGBM opened #33 "In .net core skipped task because DocumentationFile=''"
Building in .net core the output shows this message

`Task "Error" skipped, due to false condition; ( '$(DocumentationFile)' == '' ) was evaluated as ( 'obj\Debug\netstandard2.0\MyFile.xml' == '' ).`

In .net core you don't have to add the name of the documentation file, you just need <GenerateDocumentationFile>true</GenerateDocumentationFile> to generate the xml file.

At the end the file was gen

[2018-03-14 03:55] lijunle commented on #33
@JuanZamudioGBM  I am sorry that I have not tested the tool in .Net Core. If you want to hack it, you are welcome!

[2018-04-19 14:10] BangL opened #34 "Incompatibility with VB.NET"
## Problem:
![devenv_2018-04-19_16-03-03](https://user-images.githubusercontent.com/551400/38996709-12347624-43ec-11e8-8fbd-1f7d4843bdc9.png)

## Description:
Visual Basic projects do not allow custom paths for the XML file:
![devenv_2018-04-19_16-00-57](https://user-images.githubusercontent.com/551400/38996457-8af5bc18-43eb-11e8-8444-070c4ec925d6.png)

Instead it generates a simple file name for

[2018-08-07 16:34] micdah opened #47 "Doesn't work on macOS"
Seems to be limited to Windows only, as it requires the execution of `vsxmd.exe`?

If the program is a .Net application, it might be made to run on macOS by using `mono`?

[2018-08-07 16:39] micdah commented on #47
I have confirmed that running using mono seems to work, example:
[code]

[2018-08-07 16:44] micdah commented on #47
Created #48 which I think should work, though I have not tested it

[2018-08-08 00:59] lijunle commented on #47
Will .Net Core help here?

[2018-08-08 05:44] micdah commented on #47
Maybe, probably - assuming the target will run via `dotnet` command, it ought to be cross platform

[2018-08-09 11:13] kse-clearhaus opened #49 "Incorrect indentation of <code/> blocks."
### Error description ###

[code]

Is converted into the incorrect markdown

[code]

### CsProj snippet ###

[code]

### Comments ###

This is most likely because the indentation from the `.xml` file is not removed.

**Note:** This project is compiled on Linux, where the XML is generated with only NEWLINE `\n` line endings and no carriage return `\r`.

[2018-08-18 19:33] saleslessa commented on #49
Hi,
Version 1.3.3 fix this bug.

Regards,

[2018-08-18 19:33] #49 closed

[2018-08-18 19:34] saleslessa commented on #47
Hi,
Version 1.3.3 contains this fix.

Thank you.

[2018-08-18 19:34] #47 closed

[2018-08-20 09:06] #32 closed

[2018-08-21 06:55] kse-clearhaus commented on #49
Much appreciated!

[2018-10-09 11:41] wkoeter opened #51 "value element removes spaces after element"
Example:
[code]
Creates:
[code]
Expected:
[code]

Version: 1.3.3

[2018-10-11 08:11] wkoeter opened #52 "Table in comments does not display properly"
Table does not show properly from normal comments.

Comment:
/// Table
/// |CA|CB|
/// |---|---|
/// |A|B|

Expected:
Table in markdown

Actual:
- One big string in bitbucket markdown. Table string becomes child element of "table" sentence.

Workaround:
Make sure everything is currently on same level. Convention to have space after Remove automatically added space after comment (///)
///Table
///|

[2018-10-11 08:20] wkoeter opened #53 "Not able to use < and > in comments"
Trying to write common things in code blocks like

[code]
or
[code]
Is currently not possible and gets turned into & gt; and & lt; when using VSXMD

[2018-10-11 08:22] wkoeter opened #54 "Generated constructor links do not work"
When commenting constructor it is also added in **table of contents**.

Example:
#ctor(param1,param2,param3)

When clicking link

Expected: Go to section
Actual: Nothing happens

[2018-10-11 08:32] wkoeter commented on #52
Another workaround:
Table not in **para** element.
Should be directly under a **summary** tag

[2018-12-30 10:11] andresdigiovanni opened #55 "Group by namespace"
Group classes by namespace

[2019-01-07 15:52] lijunle commented on #55
@andresdigiovanni Could you please provide more context about your idea? How do you want the Markdown to be generated?

[2019-01-07 15:54] lijunle commented on #54
Hi, @wkoeter I don't understand what is "commenting constructor". Could you please a code snippet to repro this issue?

[2019-01-07 16:06] lijunle commented on #53
This limitation does not come from Vsxmd. The XML doc is processed by Roslyn compiler.

Besides, you can enable code analyzer to check if the compiler warning CS1570 exists.

[2019-01-07 16:06] #53 closed

[2019-01-07 16:12] lijunle commented on #52
@wkoeter

XML document has an official way to create a "table". See [this tutorial](http://www.blackwasp.co.uk/DocumentationLists_2.aspx) and [this official doc](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/xmldoc/list).

However, Vsxmd [does not](https://github.com/lijunle/Vsxmd#known-issues) support this complicated `<list>` tag. From my personal experience, a table could be

[2019-01-07 19:02] lijunle commented on #34
Hmm.. This one is interesting. I never wrote VB.NET before.

@BangL Do you know which `.targets` file generates the documentation file? I feel like that, the doc file generated logic from VB.NET is older than C#.

[2019-01-07 19:04] lijunle commented on #33
@JuanZamudioGBM Hello, I am not sure if you still using this project. I have some news about .Net Core. The current master branch and CI build is support .Net Core now. The `.targets` file is basically written. Could you please help on testing it?

[2019-01-07 19:06] lijunle commented on #30
Time past but I don't think anybody is going to implement this. I am closing this issue. If there are more questions, please reply.

[2019-01-07 19:06] #30 closed

[2019-01-07 19:07] lijunle commented on #31
Time past but I don't think anybody is going to improve this. People seems to be fine with the XML generated doc on this behavior. I am closing this issue. If there are more questions, please reply.

[2019-01-07 20:14] andresdigiovanni commented on #55
I think it's much clearer to have the documentation divided into multiple files.

The main page "Home.md" should show the different namespaces and the different classes with their explanation (ex: https://docs.microsoft.com/es-es/dotnet/api/system.collections.generic?view=netframework-4.7.2).

Then, there should be a page for each of the classes, interfaces, etc ... Like this (https://docs.microso

[2019-01-08 16:49] lijunle commented on #55
@andresdigiovanni Thanks for your explanation!

Do you have a project with lots of classes and methods and each of them have very long summary? How many lines are generated in your Markdown file?

I am not sure if such a full documentation experience is the goal of Vsxmd. The current goal is to extra and represent the XML information to Markdown file because Markdown file is more friendly to human

[2019-01-14 16:02] wkoeter commented on #54
A commented constructor as below will produce a link that does not work

[code]

[2019-01-14 16:08] wkoeter commented on #52
Hi @lijunle thank you for your reply,

I Dont think that will solve my scenario. I Really want a table to represent something.

[2019-01-14 19:04] lijunle commented on #52
@wkoeter Do you use the Markdown table or XML document `<list>` tag?

[2019-01-14 19:32] lijunle commented on #54
@wkoeter I still don't understand, I copy the generated ToC and content to [a Markdown file](https://gist.github.com/lijunle/32284760db7809a49d656a9789f0447e). It is working well.

[2019-01-15 11:33] wkoeter commented on #54
Both in VS2017 (15.4.4) and in my BitBucket repository the links do not work

[2019-01-16 13:40] lijunle commented on #54
From my testing, BitBucket.org completely not supports `<a name=''></a>` tag. How do you get your example working in BitBucket?

[2019-01-26 11:57] #51 closed

[2019-01-27 05:46] lijunle commented on #33
Now, .Net Core projects are officially supported as of v1.4.1. Please check it.

[2019-01-27 05:46] #33 closed

[2019-01-30 11:41] wkoeter commented on #52
@lijunle can you elaborate on your question?
I use the comments as provided in the example.

/// Table
/// |CA|CB|
/// |---|---|
/// |A|B|

[2019-02-12 11:35] saleslessa commented on #52
Hi @lijunle, The Vsxmd already supports this markdown format that Willem posted. the only problem is that because of the space between `/// comment` and the pipe. The Vsxmd transpose this space and markdown only recognize it as a table if the first character is a pipe.

I can take a look on this issue

[2019-02-12 15:35] shytikov opened #67 "AppVeyor will fail to build project that uses Vsxmd"
I'm working on **.NET4.5.2** project, using **VS2017**.

Locally documentation is generated correctly, but when I push files server, AppVeyor picks them up and tries to build. It gets following error:

```\packages\Vsxmd.1.4.1\build\Vsxmd.targets(2,1): error MSB4041: The default XML namespace of the project must be the MSBuild XML namespace. If the project is authored in the MSBuild 2003 format, p

[2019-02-12 15:40] lijunle commented on #67
Hi, Alexey

Is your project open source? Is it possible to paste the URL to the related
AppVeyor log?

Alexey Shytikov <notifications@github.com> 于 2019年2月12日周二 23:35写道：

[2019-02-12 15:47] shytikov commented on #67
Hej!

Yes, it's opensource. You can read the log using following address: https://ci.appveyor.com/project/shytikov/xrm-utils/builds/22311991

[2019-02-12 16:13] lijunle commented on #67
@shytikov Could you please tried to declare VS2017 in your project's [`appveyor.yml`](https://github.com/Innofactor/Xrm.Utils/blob/master/appveyor.yml) file?

https://github.com/lijunle/Vsxmd/blob/7d4a456c16def713edf834dc5487ec7212b190a8/appveyor.yml#L3-L4

[2019-02-12 16:20] lijunle commented on #52
@saleslessa Great thanks!

[2019-02-13 09:06] shytikov commented on #67
Thank you! That seems to be resolved my issue!

[2019-02-13 09:06] #67 closed

[2019-04-26 17:26] benjspriggs opened #68 "`Vsxmd.targets` is not compatible with VS2015"
I'm running into an issue installing Vsxmd for a .NET framework project using Visual Studio 2015. It looks similar to [this issue](https://github.com/Microsoft/ClearScript/issues/74) and looks like a simple fix.

## repro

1. Install Vsxmd@1.4.1 via nuget for VS2015 project
1. Observe the following error:

[2019-04-29 05:40] lijunle commented on #68
@benjspriggs I just released the version [1.4.2](https://www.nuget.org/packages/Vsxmd/1.4.2) to contain your fix. Please help to validate it once it can be downloaded from NuGet. Thanks on contributing this project!

[2019-04-29 19:14] benjspriggs commented on #68
Thanks for your prompt response @lijunle, I've installed 1.4.2 for my project via Nuget and updating the namespace for the `.targets` file *did work*!

I'm not sure that in future versions, the `xmlnamespace` will be preserved, but it will definitely allow VS2015 consumers (on .NET 4.6) to be able to use this library via Nuget in the future.

I'll close this since this issue's been addressed, than

[2019-04-29 19:14] #68 closed

[2019-04-30 03:41] lijunle commented on #68
Great to hear that is working!

It will not intentionally to remove the namespace attribute, but you know, without CI guarantee, it is hard to ensure future changes working in VS2015/MSBuild14.

[2019-05-08 20:23] spanglerco commented on #31
@lijunle, would you be interested in a pull request for this? I believe I have a working implementation.

The main limitation is that during build, dependencies are not available unless you wait to run Vsxmd on the output of a 'dotnet publish' build as a separate step.

[2019-05-08 20:30] spanglerco opened #70 "Events are not included in the markdown"
One of the public classes in my API declares an event that is documented in the XML, but Vsxmd does not handle the E: prefix for events, so it gets left out of the markdown. It would be great if event documentation could be generated as well.

Example XML documentation entry:

[code]

[2019-08-21 00:31] lijunle commented on #55
Close this issue because no future work on it.

[2019-08-21 00:31] #55 closed

[2019-08-21 00:31] lijunle commented on #34
Close this issue due to no response.

[2019-08-21 00:31] #34 closed

[2019-08-21 00:32] lijunle commented on #54
Close the issue due to no response.

[2019-08-21 00:32] #54 closed

[2019-08-21 00:32] lijunle commented on #70
This is great feedback. I can take a look to support it.

[2019-08-21 00:41] lijunle commented on #31
Reopen this issue.

@spanglerco It could be great if you have a working prototype. 👍

[2019-08-21 02:33] spanglerco commented on #31
@lijunle Sure thing. I went ahead and created a PR. Feel free to merge or incorporate pieces of it as you wish.

[2019-09-10 10:58] zerox981 opened #72 "&lt; and &gt; in comments are not getting replaced with < and >"
If you are using `&lt;` and `&gt;` in the <code> block, when producing valid XML documentation, the tool does not convert them to < and > when creating the markdown.
An example is found in your documentation also.
`Vsxmd.exe &lt;input-XML-path&gt; [output-Markdown-path]`

It is a major issue because sample code for generics or conditional logic looks "ugly" in the exported markdown.

Summary etc.

[2019-09-14 22:12] metaleap opened #73 "Is there a hidden option to not escape backticks?"
Loving this, here's my _Vsxmd_-generated result `.md`: https://github.com/metaleap/vscode-appz/tree/master/libs/cs/

**Wondering if I can pass through all backticks without them getting backslash-escaped as currently happens.** These are bindings being generated for various languages (C# being merely one of many) from a `.d.ts` IDL. So its source doc-comments are reused for all generated code in t

[2019-09-14 22:44] metaleap commented on #73
Well, I figured out one way to do this via `.csproj` addition like so:

[code]

Neat! Feel free to close, the above works for me as a hacky workaround.

[2019-11-18 13:54] thomaslevesque commented on #31
Any news on this @lijunle? The PR has been sitting there for 3 months ;)

[2019-12-23 15:33] fuzzzerd opened #74 "Does not work with .NET Core 3.1"
Latest nuget release does not appear to work when only the .NET Core 3.1.100 SDK is installed.

I get this error during build:

Installing .NET Core 2.2 SDK seems to correct things; however, I couldn't find it documented that this package is tied to a specific .NET Core SDK being installed.

[2019-12-24 01:26] lijunle commented on #74
I did not test it in .NET Core 3.1. Let me check if there are some breaking changes cause the failure.

[2019-12-27 06:40] lijunle commented on #74
Update on this, .Net Core 3.1 is not working because the targets file is hard coding `netcoreapp2.2` folder, which is built with .Net Core 2.2.

https://github.com/lijunle/Vsxmd/blob/a346d2931a6431c46f158e35a1006879bce693d5/Vsxmd/build/Vsxmd.targets#L8

So, when running with v3.1, it fails with

[code]

I am learning how to make side-by-side supporting on .Net Core 2.2 and 3.1.

[2020-01-22 00:54] lijunle commented on #74
Hi, @fuzzzerd

Could you please check if the version [1.4.3-beta.1](https://www.nuget.org/packages/Vsxmd/1.4.3-beta.1) resolve this issue?

I completely change the way to ship the tool - now it is built/shipped as binaries for OS platforms (Windows, macOS, Linux). So, the package size increases a lot (55MB) compared to the previous version (15KB).

[2020-01-22 16:07] fuzzzerd commented on #74
I removed all of the .NET 2.2 SDKs I had installed, and upgraded my package reference to v1.4.3-beta.1 and I get the following error during build:

and no markdown file is produced.

Rolling back to v1.4.2 produces the original error again.

[2020-01-24 11:31] lijunle commented on #74
@fuzzzerd Thanks for reporting! Please try [1.4.3-beta.2](https://www.nuget.org/packages/Vsxmd/1.4.3-beta.2).

[2020-02-13 17:23] Helcaraxan commented on #74
FWIW @lijunle : I ran into the same issue as reported by @fuzzzerd with `1.4.2`, have just tried out `1.4.3-beta.2` and got a passing build. :+1:

[2020-02-14 03:54] lijunle commented on #74
@Helcaraxan Great! I will promote it as new version.

[2020-02-14 03:55] #74 closed

[2020-02-14 04:03] lijunle commented on #74
[`Version 1.4.4`](https://www.nuget.org/packages/Vsxmd/1.4.4) is published. It is the same code as `1.4.3-beta.2`.

[2020-02-14 04:05] lijunle commented on #74
Oh, I made a mistake to skip the version 1.4.3. 😭

[2020-02-20 17:46] FlushablPet opened #76 "Build failure under Alpine Linux"
Hi, first off, great tool, I love it.

It looks like it doesn't have Alpine compatible binaries though, as it caused our CI pipeline's build stage to fail when used with the Dotnet Core Alpine image `mcr.microsoft.com/dotnet/core/sdk:3.1-alpine`. Switching to an Ubuntu flavor worked, however adding Alpine support to the package for those working in lightweight CI environments would be a bonus as A

[2020-02-22 15:55] lijunle commented on #76
Hi, @FlushablPet

For sure that, I could like to support alpine. Let me try if I could repro it. If it is a x64 distribution, it should work.

[2020-02-22 17:23] lijunle commented on #76
I can repro it and identify the cause. Apline does not belong to `linux-x64` group, but `linux-musl-x64`. See [here](https://github.com/dotnet/core/issues/1689#issuecomment-397032261).

I will include that into build and fix this issue.

[2020-02-22 18:18] lijunle commented on #76
@FlushablPet

I published the version [1.4.5-beta.1](https://www.nuget.org/packages/Vsxmd/1.4.5-beta.1) on addressing this. Please help on testing it and let me know. Thanks a lot on reporting this!

[2020-02-24 00:05] FlushablPet commented on #76
Just tested it in the CI and Docker builds, both worked like a charm. Thanks so much for adding it so quickly!

[2020-02-24 00:22] lijunle commented on #76
Thanks for helping testing! I merged my changes to master and published [`v1.4.5`](https://www.nuget.org/packages/Vsxmd/1.4.5) for it. Again, thank you for reporting this issue!

[2020-02-24 00:22] #76 closed

[2020-02-28 21:10] FlushablPet opened #78 "Comma-separated parameter lists"
Hi,

Thanks again for the Alpine build.
I'm back, not a major bug, but with something that would improve readability of the end result.
The list of parameter names for methods and constructors is comma-separated, but lacks a space after the comma. The impact of this is that the browser will not word-wrap, so it treats the list of parameters as a single line and run it off the page. Adding a space

[2020-03-02 16:02] lijunle commented on #78
Hi, @FlushablPet

Which part of *list of parameter names* do you refer? In the table of content or the body? How long is your method + parameter list?

[2020-03-02 17:09] FlushablPet commented on #78
Hi,

I'm referring to the `ctor(p1,p2,p3,p4)` or `method(p1,p2,p3,p4)` shown in the content TOC, the h3 body headers for constructor and method items, and the method parameter table's type column.

In the parameter table, the type column lacks spaces within the brackets, which causes an overflow off the page. E.g: `Microsoft.FSharp.Collections.FSharpList{ERP.ADP.Domain.Demographics.PaidEmployees.N

[2020-03-02 17:53] lijunle commented on #78
Hmm... Adding space around the parentheses and after the comma should be fine. Let me experiment it later then get back.

[2020-03-03 21:05] hailstorm75 opened #79 "[Request] Visually separate types with a horizontal line"
Unfortunately, the generated markdown is hard to read when compiled on Azure Repos.

Providing an option to separate the documented types with a horizontal line would improve the generated document readability.

As of now, I add them manually, event though I would like my documentation to always be generated automatically.

Example:

 ## ISubject `type`

##### Namespace

Borec.Interfaces.Models.Db

[2020-03-14 16:46] DreadLordMikey opened #80 "Documentation is not generated if a VS2019 project includes a post-build step."
The .MD file is generated properly, up until I add a post-build step to my project to copy the .MD file from the output folder to my DOCS folder. Once the post-build step is added to the .CSPROJ file, the .MD file is never generated.

Removing the postbuild step (a simple XCOPY command) resolves the issue.

[2020-04-02 22:59] qamaruddin opened #81 "Support for VB.Net"
I have tried the product in a VB.net project. Did not seem to generate the files. Is there any plan to support vb.net? Or something that I can contribute to?

[2020-04-02 23:04] lijunle commented on #81
Hi, @qamaruddin

I don't use VB.Net. What are the differences between VB and C# from project level? It will be great if you can contribute to the project. Thanks!

[2020-04-02 23:10] qamaruddin commented on #81
Not much different project wise. Once I added the package it did modify the vbproj file to add additional xml setting. But the file did not get generated at all. Not sure what would be the issue. Happy to add the support if you can show me how this package works. I dont have lots of experience in MSBUILD tasks

[2020-04-02 23:25] qamaruddin commented on #81
@lijunle After adding a post build event to call the vsxmd exe manually, I see that its looking for a generated xml file that dont exist.
1>  ConsoleApp4 -> C:\Users\qamar\source\repos\ConsoleApp4\ConsoleApp4\bin\Debug\ConsoleApp4.exe
1>  Could not find file 'C:\Users\qamar\source\repos\ConsoleApp4\ConsoleApp4\ConsoleApp4.xml'.
Unlike C# in Vb you cant define whether xml gets generated. Could this

[2020-04-03 00:16] lijunle commented on #81
Have you enable the XML documentation generations?

[2020-04-03 02:48] qamaruddin commented on #81
Yes, I have xml generation turned on.
![image](https://user-images.githubusercontent.com/1617764/78318966-d0be1200-75b1-11ea-9e3b-714c1eccf267.png)

[2020-04-03 02:51] qamaruddin commented on #81
The genearted xml does exist's in the debug folder. but as stated earlier here, when i ran the vsxmd as part of post build event it was looking for xml in wrong folder.

[2020-04-03 03:43] lijunle commented on #81
Does it mean, vsxmd.exe looks for a wrong folder for VB.Net?

Could you please paste the `.vbproj` file? Does the property `DocumentationFile` defined in it?

[2020-04-03 05:39] qamaruddin commented on #81
<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="15.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Import Project="$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props" Condition="Exists('$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props')" />
  <PropertyGroup>
    <Configuration Condition=" '$(Configuration)' == '' ">Debug</C

[2020-04-03 05:40] qamaruddin commented on #81
`<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="15.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Import Project="$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props" Condition="Exists('$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props')" />
  <PropertyGroup>
    <Configuration Condition=" '$(Configuration)' == '' ">Debug</

[2020-04-03 06:18] lijunle commented on #81
I saw it there:

[code]

Is the `ConsoleApp4.xml` file generated somewhere under your project?

[2020-04-03 12:09] qamaruddin commented on #81
Yes. It’s get generated in bin/debug

[2020-04-06 00:34] qamaruddin commented on #81
without output tag the build won't work for Vb projects.

[2020-04-09 18:06] kphaldeman opened #82 "Latest build results in .NET Core dependency for .NET Standard libraries"
When I updated my Nuget packages for my project recently, Vsxmd was updated as well.  After the update, I could not rebuild my project, having the following exception raised:

An assembly specified in the application dependencies manifest (Vsxmd.deps.json) was not found:
1>      package: 'runtimepack.Microsoft.NETCore.App.Runtime.win-x64', version: '3.1.1'
1>      path: 'System.Net.WebHeaderCollec

[2020-04-09 18:40] lijunle commented on #82
Hmm... Which version of Vsxmd are you using?

[2020-04-13 15:08] kphaldeman commented on #82
This was with the latest version.  I had to go back 2 versions to get it working correctly.

    On Thursday, April 9, 2020, 1:40:48 PM CDT, Junle Li <notifications@github.com> wrote:

Hmm... Which version of Vsxmd are you using?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-04-28 03:37] mxashlynn commented on #55
I just wanted to say thank you for providing the explanation as to why everything is output into a single file.

In my case, I like the idea of producing output as markdown files instead of as HTML (as DocFx does).  However, your explanation of the advantages of keeping everything in one file, and of the differences between this project's goals and DocFx's goals are clear and make sense.

I will t

[2020-05-05 20:27] vatsan-madhavan commented on #31
This is a great change! Hope it gets merged sometime soon.

[2020-08-05 08:14] Euan-McVie commented on #82
We have a similar issue with 1.4.5 on some developers machines (but not all):

The project is multi-targeting `net461;netcoreapp3.1`

Downgrading to 1.4.4 seems to solve it though.

[2020-08-13 11:39] rraallvv opened #84 "Generate separate files with interlinks"
I'd like to have only the TOC in the home page and each class in a separate file with interlinks

[2020-08-24 22:35] brandongregoryscott commented on #74
I am still getting this error (though it has popped up recently - I've definitely used this package just fine before on the same machine)

[code]

My `dotnet --info` output:
[code]

System info:
[code]

Is there anything that might have broken on a more recent Mac update?

[2020-09-21 17:43] nikkilocke commented on #74
I'm getting this, on Windows 10 with VS 2019, since I updated it to install .net core 3. Even though the code I am building is targetted at .net standard 2.2.

Running the command from the command prompt gives me:

    "C:\Users\Nikki\.nuget\packages\vsxmd\1.4.5\build\/../tools/win-x64/Vsxmd.exe" "bin\Debug\net45\CodeFirstWebFramework.xml" "contentFiles/Api.md" ""
    The application to execute do

[2020-11-10 15:48] neman commented on #74
I have the same issue as @nikkilocke, and after downgrading to 1.4.4 build went through.

[2020-11-19 14:29] SaidShah commented on #74
The issue is .Net has a problem flushing the temp generated folders in the .Net folder so you have to manually delete the directories that are giving you problems from your `C:\Users\Your Name\AppData\Local\Temp\.net` folder and they will be regenerated when you build the project

[2020-11-19 14:34] wintondeshong commented on #74
This resolved the issue for me on Windows 10 (using CLI)

[2020-12-01 08:58] mjasin commented on #82
I have this same issue for `netcoreapp3.1`. After downgrade to `1.4.4` problem is solve.

[2020-12-08 16:19] astrohart opened #85 "Generic types are not generated correctly in the markdown"
I have a generic interface

[code]

and another generic interface

[code]

These are generated in the Markdown with a `1 for the **IFloatyThing** interface, and a `2 for the **IRockCandy** interface.  The output is

# IFloatyThing`1

# IRockCandy`2

This is wrong.  To reproduce, make interfaces such as above in a new C# class library project with this NuGet package, and then build it, and then loo

[2020-12-27 18:07] astrohart opened #86 "No docs are generated, Output window says 'Object reference not set to an instance of an object.'"
I am utilizing VS 2019 Community, latest update.  Last night, `Vsxmd` was working fine with the configuration below.  Now, it will not create a `.md` documentation file all of a sudden.

My `packages.config` file says:

[code]

My .csproj is:

[code]
I have done a `Restore NuGet Packages in Solution` on my .sln file in Solution Explorer.

As you can see, there is a line `<None Include="MyProject.m

[2020-12-27 18:39] astrohart commented on #86
Never mind.  I think I found the issue.   I had an XML documentation tag that said `<param product="sender">Reference to the instance of the object that raised the event.</param>`.

I found this out by erasing my .cs files and adding things in a bit at a time and building/rebuilding in between to see when the `Object reference not set to the instance of an object` message would show.  Obviously, i

[2020-12-27 18:39] #86 closed

[2021-01-13 09:14] cars10w commented on #82
Same as @mjasin here.

[2021-01-13 20:19] astrohart opened #87 "HTML Named Entities substituted in XML doc code examples"
Hi,

I have a piece of XML documentation

![image](https://user-images.githubusercontent.com/8261875/104505859-8e027f00-55b2-11eb-943d-c0a54ee28860.png)

And the '`>`' in the lambda expression is rendered, literally, as `&gt;` by `Vsxmd` in the resulting `MyProject.md`:

![image](https://user-images.githubusercontent.com/8261875/104505927-a96d8a00-55b2-11eb-9d3c-0e4832ebd8c2.png)

The expected beh

[2021-01-14 14:27] TomGibsonCS commented on #82
Also same issue in our code with same 1.4.5, 1.4.4 fixes it.

[2021-03-03 14:25] fireloudapp opened #88 "Avoid Private method from Documentation"
Thanks for this nice package.

Is there any way to avoid private method from documenting?

[2021-03-09 15:34] saephraim commented on #82
I am also experiencing this error with 1.4.5 when building my project.  Rollback to 1.4.4 does resolve it.

[code]

[2021-03-15 21:35] DctrDstr commented on #82
Same Issue in 1.4.5 solved to downgrade to 1.4.4

[2021-03-18 08:35] WeiderTools opened #89 "Where does <a name='...'></a> come from?"
At first - it is a very nice solution!

But i have a question to this "<a name='assembly'></a>".

Why are these tags inserted everywhere in the MD file?

It is a problem of my documentation?

![2021-03-18 09_14_09](https://user-images.githubusercontent.com/53962659/111596101-1973d880-87cd-11eb-8b58-c5ccbed8546c.png)

[2021-03-18 11:57] lijunle commented on #89
It is for anchor, the table of content at the top.

To avoid the differences of generating deep link of different git platform (GitHub, gitlab, etc.) This package generates the `<a name>` for deep links.

[2021-06-19 22:21] luttje commented on #85
Having generics formatted like that would sure be nice.

I tried to have a look to see if it's a simple fix I could quickly create a PR for but nope. I'm already side-tracked from my main project so I'll just leave what I found for reference.

The effect @astrohart described is caused by how the xml docs represent generics:

**Source:** https://docs.microsoft.com/en-us/dotnet/csharp/language-refer

[2021-07-29 00:22] cdudley-oncore opened #90 "Support for Azure DevOps style link/anchor?"
Hi,

This is a very nice plugin and it saves us a ton of work. One thing I've noticed is that links/anchors work well for GitHub, but are not in the form supported by Aznre DevOps markdown wikis.

For example, this works on GitHub:
[link text](#Anchor-I-Want-To-Link-To)
<a name='T-Anchor-I-Want-To-Link-To'></a>

This is what the Azure DevOps wiki expects:
[link text](#Heading-I-Want-To-Link-To)
##

[2021-08-28 20:06] astrohart commented on #82
@lijunle Continuing to dig into the issue...

I copied the file Microsoft.Win32.Primitives.dll from the Global Assembly Cache (GAC) folder of the remote VM where things build fine.

Then I opened a Developer Command Prompt and did `gacutil -i <path>` to install it into the GAC on my local box.

VS 2019 still would not build the project.

Using the Rebuild Solution toolbar button in VS 2019 communi

[2021-09-01 11:02] PForever commented on #72
There is still have problem for the <code> section
![image](https://user-images.githubusercontent.com/24297126/131660506-c3ec993a-93c4-41f5-9ff9-083196883618.png)
![image](https://user-images.githubusercontent.com/24297126/131660404-b8bd3566-272d-4ff5-8952-284b20889f56.png)

[2021-09-08 07:40] PForever opened #91 "version 1.4.5 broken for Net Framework (4.6.1)"
After build any project (for example new console project) with version nf 461 that referenced Vsxmd 1.4.5, build stop with error
`Vsxmd.exe" "" "" """ exited with code -2147450740` and in output:
[code]
But in packages.config i see it version targeted to nf 461. Version 1.4.4. has no problem. I don't check other version of Net Framework

[2021-09-08 07:45] PForever commented on #91
duplicate https://github.com/lijunle/Vsxmd/issues/82

[2021-09-08 07:45] #91 closed

[2021-09-26 15:09] nishy2000 commented on #82
@astrohart , @PForever, @lijunle

I encountered the same problem. And I found a solution.

The solution is to delete the following folders
%TEMP%\.net\Vsxmd\*
(ex. C:\Users\(username)\AppData\Local\Temp\.net\Vsxmd\*)

This seems to be the location where Vsxmd.exe is extracted, but it may be incompletely extracted. Once incompletely extracted, the problem will continue to occur.
Removing this cache

[2021-10-05 23:52] Nefariis commented on #90
Yeah I am running into this as well - I would love to get this working on azure.

[2021-10-16 18:15] astrohart opened #92 "Getting `command exited with code -2147450726` for `Vsxmd.exe`"
I am writing an application that is targeting .NET Framework 4.8 -- and the following is a compiler error I am receiving on each of the supporting class libraries (this is just from one of them):

[code]

What could be causing this?

I've made sure to have the latest .NET Framework, .NET Core runtimes installed and I also used the Visual Studio Installer to make sure

I've deleted the `packages` f

[2021-10-16 19:26] astrohart commented on #92
Opening a Command Prompt window 'as administrator', with VS2019 open, and doing:

[code]
and pressing `ENTER`, made the error messages go away.

[2021-10-16 19:26] #92 closed

[2021-11-13 16:13] ptsneves opened #93 "NullPointerException on cref as an element instead of as an attribute"
[code]
I have a generated xml that has the above element that leads to ExceptionUnit Name property to throw null pointer. I am not sure if this a valid XML, but it was automatically generated so I assume it is?

Also we should really document that when Vsxmd throws an exception it does not abort the build. This leads to a very confusing diagnosis of why the .md is just not generated.

[2022-06-03 23:52] astrohart opened #94 "Vsxmd complains about `Resources.Designer.cs` (auto-generated file) not having XML comments"
Hi,

This is actually a compound issue:

- Vsxmd generates `Warning	CS1591	Missing XML comment for publicly visible type or member` for code elements in my `Resources.Designer.cs` file even though it is an auto-generated file (meaning, as you add/remove resources to/from your project, Visual Studio writes the code in this file for you)
- Furthermore, there ARE XML doc comments in this file -- for

[2022-06-05 22:27] astrohart commented on #94
My point in filing this issue is, that the `Resources.Designer.cs` file is auto-generated, and thus, fixing the things that `Vsxmd` is complaining about is pointless -- the file will just be regenerated on the next build, and my changes will go away.

[2022-06-07 23:12] astrohart commented on #88
I would say, just don't add XML doc comments to the method you do not want to document.

[2022-06-07 23:30] astrohart commented on #94
Can't reproduce, this only seems to be occurring in some of my solutions.

[2022-06-07 23:30] #94 closed

[2022-06-07 23:37] astrohart opened #96 "Newlines are not handled appropriately"
I have a project I am building, `DummyFormsApp`.  It has `Vsxmd` 1.4.5 installed.

I have XML comment text in the `DummyFormsApp.xml` file such as:

[code]
It is this way because I also utilize JetBrains ReSharper and I have it programmed to make all lines XX chars long and no longer (code style).  So it hard wraps longer lines, including XML doc comments.  I prefer it this way.

However, it produ

[2022-06-08 19:04] lijunle commented on #96
Hi, @astrohart  How does your document file (the .xml file) look like?

[2022-06-24 16:24] astrohart opened #97 "This code base could use some SOLID-ifying"
Hi,

Great package and great code base, I love working with it.  However, as you can see there are some issues filed under this project that has been going undealt with for a while.  I tried to dive into the code myself.  However, and I don't want to say anything bad, but the code style and semantics could use some polish and be refactored to correspond to [the SOLID principles](https://www.digita

[2022-06-24 18:37] lijunle commented on #97
Hello, @astrohart

It will be great that you can help on the tool and improve it. Do you have any plan about the refactoring? Text description or code snippet is OK.

[2022-06-27 20:05] astrohart opened #98 "Need to exclude generated code from triggering the warnings about missing XML documentation"
I am frequently receiving warnings, with the `Vsxmd` NuGet package installed, that fields and methods inside files that are generated by a tool, such as `Resources.Designer.cs` in a WinForms app, or `MyForm.Designer.cs`.  I can't place XML comments for these methods since, then, the file gets re-generated and my XML comments will go away.

[2022-08-29 16:32] johnholliday opened #100 "Nothing happens in VS2022 for .NET Core App"
Following the instructions to install via Nuget.  Rebuilding the project produces no output.

[2022-09-20 19:40] NLKNguyen commented on #100
Did you turn on the document file generation and set the XML Document File Path in the project properties?
If you don't specify, it will generate a .md in the build directory. I like to keep it in the project source directory, e.g. `$(MSBuildProjectDirectory)\API.xml`, the output will be `API.md` next to the XML file.

![image](https://user-images.githubusercontent.com/4667129/191348935-b242e93d-f

[2022-10-11 08:16] astrohart commented on #97
The effort would span the entire code base, so a code snippet would not be practical.  And as for a textual description, I believe I was fairly detailed — and even included links — in the top of the issue.

Brian

[2022-10-11 08:53] astrohart commented on #97
The crux of the plan is basically, make every concrete type implement an interface (except where it’s obviously meaningless) and only use objects through their interfaces and only crate new instances of objects using, say, Factory pattern and such.

On Jun 24, 2022, at 12:37, Junle Li ***@***.***> wrote:

[2022-11-06 18:31] EndarValuk opened #101 "LibSSL Error"
Hello!
Tried to run that wonderful tool
[code]
but got error
[code]

Currently running on:
[code]
Using .NET `6.0.110`
Here is output of `dpkg-query -s libssl3`
[code]